<div style="text-align:cneter">
</div>
<div class="container">
    <button (click)= "Nuevo()" mat-icon-button class="btn btn-primary" style="margin-left: 10px">
        <mat-icon> person_add </mat-icon>
    </button>
</div>
<th></th>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Proveedores</h3>
        </div>
        <div class="table-responsive text-center table-hover">
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col"># Documento</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Direccion</th>
                    <th scope="col">Email</th>
                    <th scope="col">Ciudad</th>
                    <th scope="col">Tipo Documento</th>
                    <ng-container *ngIf = "usuario(); else otro">
                    <th scope="col">Acciones</th>
                    </ng-container>
                    <ng-template #otro>
                    </ng-template>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let proveedor of proveedores" class="text-center">
                    <th scope="row">{{proveedor[0]}} </th>
                    <td> {{proveedor[1]}}  </td>
                    <td> {{proveedor[2]}} </td>
                    <td> {{proveedor[3]}} </td>
                    <td> {{proveedor[4]}} </td>
                    <td> {{proveedor[5]}} </td>
                    <td> {{proveedor[6]}} </td>
                    <td> {{proveedor[7]}} </td>
                    <ng-container *ngIf = "usuario(); else otro">
                    <td>
                        <button (click)="Editar(proveedor)" mat-icon-button class="btn btn-warning">
                            <mat-icon >autorenew</mat-icon>
                        </button>
                        <button (click)=" openDialog(proveedor)" mat-icon-button class="btn btn-danger"  style="margin-left: 10px">
                            <mat-icon>delete_outline</mat-icon>
                        </button>
                    </td>
                </ng-container>
                <ng-template #otro>
                </ng-template>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>