<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Soufiane FADIL</h2>
            <h4>example@perrio.com</h4>
        </div>
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Soufiane FADIL">
    </div>
     <mat-divider></mat-divider>
     <h2 matSubheader>Modulos</h2>
        <a mat-list-item routerLinkActive="list-item-active-" routerLink="/inicio/dashboard"><mat-icon>timeline</mat-icon> Dashboard</a>
        <a mat-list-item routerLinkActive="list-item-active-" routerLink="/inicio/listarUsuario"> <mat-icon>person</mat-icon> Gestion de Usuarios</a>
        <a mat-list-item routerLinkActive="list-item-active-" routerLink="/inicio/listarClientes"><mat-icon>group</mat-icon> Gestion de Clientes</a>
        <a mat-list-item routerLinkActive="list-item-active-" routerLink="/inicio/listarProveedores"><mat-icon>group</mat-icon> Gestion de Proveedores</a>  
        <a mat-list-item  [matMenuTriggerFor]="animals">
            <mat-icon> view_comfy </mat-icon>Compras <mat-icon> chevron_right </mat-icon> </a >
        <mat-menu #animals="matMenu">
        <button mat-menu-item  routerLinkActive="list-item-active-" routerLink="/inicio/agregarProducto"> <mat-icon>event_available</mat-icon> Nueva Compra</button>
        <button mat-menu-item routerLinkActive="list-item-active-" routerLink="/inicio/listarProductos"><mat-icon>event_note</mat-icon> Lista de Productos</button>
        <button mat-menu-item routerLinkActive="list-item-active-" routerLink="/inicio/listarCompras"><mat-icon>business_center</mat-icon> Registros de compras</button>
        </mat-menu> 
        <a mat-list-item  [matMenuTriggerFor]="ventas">
            <mat-icon> add_shopping_cart </mat-icon>Ventas <mat-icon> chevron_right </mat-icon> </a >
        <mat-menu #ventas="matMenu">
        <button mat-menu-item><mat-icon>broken_image</mat-icon> Registros de ventas</button>
        </mat-menu>
</mat-nav-list>