<div style="text-align:cneter">
</div>
<div class="container">
    <button (click)= "Listar()"  mat-icon-button class="btn btn-primary">
        <mat-icon> list_alt </mat-icon>
    </button>
    <button (click)= "Nuevo()" mat-icon-button class="btn btn-primary" style="margin-left: 10px">
        <mat-icon> person_add </mat-icon>
    </button>
</div>
<th></th>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Usuarios</h3>
        </div>
        <div class="table-responsive text-center table-hover">
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Password</th>
                    <th scope="col"># Documento</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Direccion</th>
                    <th scope="col">Email</th>
                    <th scope="col">Rol</th>
                    <th scope="col">Ciudad</th>
                    <th scope="col">Tipo Documento</th>
                    <th scope="col">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let usuario of usuarios" class="text-center">
                    <th scope="row">{{usuario[0]}} </th>
                    <td> {{usuario[1]}}  </td>
                    <td> {{usuario[2]}} </td>
                    <td> {{usuario[3]}} </td>
                    <td> {{usuario[4]}} </td>
                    <td> {{usuario[5]}} </td>
                    <td> {{usuario[6]}} </td>
                    <td> {{usuario[7]}} </td>
                    <td> {{usuario[8]}} </td>
                    <td> {{usuario[9]}} </td>
                    <td> {{usuario[10]}} </td>
                    <td>
                        <button (click)="Editar(usuario)" mat-icon-button class="btn btn-warning">
                            <mat-icon >autorenew</mat-icon>
                        </button>
                        <button (click)=" openDialog(usuario)" mat-icon-button class="btn btn-danger"  style="margin-left: 10px">
                            <mat-icon> delete_outline </mat-icon>
                        </button>
                    </td>
                  </tr> 
                </tbody>
              </table>
        </div>
    </div>
</div>